<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Footer</title>
</head>
<body>
<div class="footer" th:fragment="footer">
    <div class="footer-heading">
        <h2>email: verschaerenjeroen@gmail.com</h2>
    </div>
    <div class="footer-heading">
        <h2>Adres: Bredepleinstraat 23</h2>
    </div>
    <div class="footer-heading">
        <h2>Contact: 0032 478 68 74 27</h2>
    </div>
</div>
</body>
</html>