@font-face {
    font-family: 'Friz Quadrata Std';
    src: url("../fonts/friz.otf"); format('opentype')
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Friz Quadrata Std', sans-serif;
}

html {
    scroll-behavior: smooth;
}

body {
    background: rgb(108,150,157);
    background: linear-gradient(0deg, #001B1F  0%, #6C969D 100%);
}

a {
    text-decoration: none;
}

/*SCROLLBAR*/
::-webkit-scrollbar {
    width: 12px;
    background: rgb(108,150,157);
    background: linear-gradient(0deg, rgba(108,150,157,1) 0%, rgba(0,27,31,1) 100%);
}

::-webkit-scrollbar-thumb {
    background: #E0B145;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: #6C969D;
}

/*navbar*/
.navbar {
    background: rgba(0,0,0,0.5);
    padding: 1rem 8rem;
    border-bottom: 3px outset #E0B145;
    z-index: 1000;
}

.navbar .navbar-brand {
    width: 50px;
    height: 50px;
    position: relative;
    display: inline-block;
}

.navbar .navbar-brand .img-top {
    display: none;
    position: absolute;
    top: 5px;
    left: 0;
    z-index: 99;
}

.navbar .navbar-brand:hover .img-top {
    display: inline;
}

.navbar .navbar-brand img{
    width: 50px;
}

.navbar-nav {
    position: relative;
    left: -25px;
}

#navbarSupportedContent > ul > li:nth-child(n) > a {
    color: #FEFEFF;
    font-size: 1.1rem;
    padding: 0 0.8rem;
}

#navbarSupportedContent > ul > li:nth-child(n) > a:hover{
    color: #E0B145;
}

#navbarSupportedContent > button {
    display: none;
    color: #FEFEFF;
    background-color: #6C969D;
    font-weight: 600;
    padding: 0.4rem 1.4rem;
    border-radius: 30px;
}

#navbarSupportedContent > button:hover, .carousel-item .box a:hover, .error .box a:hover, .show-button1 button:hover, .show-button2 button:hover{
    color: #001B1F;
    background-color: #FE654F;
    border: 1px solid #001B1F;
}

body > section > video {
    width: 100%;
    height: 100vh;
    pointer-events: none;
    object-fit: cover;
}

body .carousel {
    height: 100%;
    min-height: 450px;
}

body .carousel .carousel-control-prev {
    border-bottom: 0;
    font-size: 40px;
    color: #FEFEFF;
}

body .carousel .carousel-control-next {
    border-bottom: 0;
    font-size: 40px;
    color: #FEFEFF;
}

body > .background1 {
    border-top: 3px solid #E0B145;
    background-image: url("../img/pic1.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

body #about .box {
    background: rgba(0,0,0,.5);
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    border: 1px solid #FEFEFF;
}

.carousel-item .box {
    margin-top: 80px;
}

.list .col-lg-2 {
    flex-basis: 20%;
}

.list .box, .details .box {
    overflow: hidden;
    background: #001B1F;
    transition: 0.5s ease;
}

.list .box:hover, .details .box:hover{
    transform: translateY(-10px);
    background: #E0B145;
    transition: 0.5s ease;
    box-shadow: 0 20px 50px rgba(42,59,62,0.5);
}

.list .box:hover h3, .details .box:hover h3 {
    color: #001B1F;
}

.box h2 {
    color: #FEFEFF;
    font-weight: 700;
    font-size: 2.7rem;
}

.box h3 {
    color: #FEFEFF;
    font-weight: 400;
    font-size: 1rem;
    padding-top: 0.6rem;
    padding-left: 0.4rem;
}

.box h5 {
    color: #E0B145;
    font-weight: 800;
    font-size: 1rem;
    letter-spacing: 2px;
}

.box p {
    color: #FEFEFF;
    font-weight: 400;
    font-size: 1.1rem;
    letter-spacing: 1px;
}

.carousel-item .box a, .error .box a, .btn1 , .btn2 {
    color: #FEFEFF;
    background-color: #6C969D;
    font-weight: 600;
    padding: 0.6rem 1.4rem;
    border-radius: 30px;
    border: 1px solid #FEFEFF;
}

.box img {
    background: rgb(54,54,54);
    background: radial-gradient(circle, rgba(54,54,54,1) 0%, rgba(0,0,0,1) 100%);
}

body > footer {
    background: rgba(0,0,0,0.5);
    border-top: 3px outset #E0B145;
    color: #FEFEFF;
}

.list {
    background: lightgray;
    padding-top: 7rem!important;
}

.list h1 strong {
    font-size: 3.5rem;
}

.input-group > .form-control:focus {
    box-shadow: none;
}

.input-group > .form-control {
    margin-right: 5px;
}

.button {
    color: lightgray;
    background: transparent;
    border: 0;
    border-radius: 0;
    margin-top: 0.2rem;
    font-size: 0.8rem;
}

.btn-check:active+.button, .btn-check:checked+.button{
    background-color: transparent;
    border: 0;
    color: #001B1F;
    box-shadow: none!important;
}

.button:hover, .details .btn:hover, .details .btn:hover {
    color: #001B1F;
    background-color: transparent;
}

.button:after, #navbarSupportedContent a:after, .navbar .navbar-brand:after, .details .btn:after, .details .btn:after {
    display:block;
    content: '';
    border-bottom: solid 3px #E0B145;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

.button:hover:after, #navbarSupportedContent a:hover:after,.navbar .navbar-brand:hover:after, .details .btn:hover:after, .details .btn:hover:after {
    transform: scaleX(1);
}

#particles-js{
    position: fixed;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    z-index: -1;
}

#container {
    width: 300px;
    margin: 0 auto;
}

.details .thumbnail {
    -webkit-backface-visibility: hidden;
    display: inline-block;
    position: relative;
    margin: 0 auto;
    overflow: hidden;
    background: #000;
    box-shadow: 0 15px 50px rgba(0,0,0,.5);
    z-index: 100;
}

.details .thumbnail img {
    display: block;
    width: 300px;
    max-width: 100%;
    transition: opacity .2s ease-in-out;
}

.details .thumbnail:hover img {
    opacity: .5;
}

.details .thumbnail::after, .details .thumbnail::before {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 50%;
    transition: transform .4s ease-out;
    color: #fff;
}

.details .thumbnail::after {
    content: attr(data-title);
    top: 0;
    padding-top: 55px;
    transform: translateY(-100%) scale(.8);
    background: rgba(0,0,0,.4);
    color: #E0B145;
    font-size: 3rem;
    font-weight: 300;
    text-align: center;
}

.details .thumbnail::before {
    content: attr(data-description);
    top: 50%;
    padding: 20px;
    transform: translateY(100%) scale(.8);
    background: rgba(0,11,12,.6);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    color: #E0B145;
    font-size: 2rem;
    text-align: center;
}

.details .thumbnail:hover::after, .details .thumbnail:hover::before {
    transform: translateY(0%) scale(1);
}

.details #container2 {
    max-width: 800px;
}

.contentbox {
    bottom: 3rem;
    max-width: 800px;
    padding: 50px;
    background: rgba(255,255,255,0);
    box-shadow: 0 5px 15px rgba(0,0,0,.5);
    z-index: 50;
    border: 1px solid #FEFEFF;
}

.details .btn {
    color: lightgray;
    background: transparent;
    border: 0;
    border-radius: 0;
    margin-top: 0.2rem;
    font-size: 1.5rem;
}

.contentbox h2 {
    margin: 0 0 20px;
    font-size: 48px;
    color: #E0B145;
    text-transform: uppercase;
    text-align: center;
}

.contentbox p {
    color: #FEFEFF;
    font-size: 18px;
}

.contentbox strong {
    background: -webkit-linear-gradient(#FEFEFF, #E0B145);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 48px;
    text-transform: uppercase;
}

#content {
    display: none;
}

.show-button2 {
    display: none;
}

@media screen and (max-width: 1200px){
    .list a h2 {
        font-size: 1rem;
    }
    h5 {
        font-size: 0.8rem;
    }
    .carousel-item h2, .error h2 {
        font-size: 2.2rem;
    }
    .carousel-item p, .error p {
        font-size: 1rem;
    }
}

@media screen and (max-width: 991px) {
    .navbar {
        padding: 1rem;
    }

    .navbar-nav {
        left: 0;
    }

    #navbarSupportedContent > ul {
        padding-left: 0.8rem;

    }

    #navbarSupportedContent > ul > li:nth-child(n) > a {
        padding: 0.8rem 0;
    }
    .list .col-lg-2 {
        flex-basis: auto;
    }
}

@media screen and (max-width: 767px) {
    .list a h2 {
        font-size: 0.9rem;
    }

    .carousel-item h2, .error h2 {
        font-size: 1.6rem;
    }

    .carousel-item p, .error p {
        font-size: 0.9rem;
    }

    .carousel-item a, .error a {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 575px) {
    .list a h2 {
        font-size: 0.8rem;
    }

    #container {
        width: 250px;
    }

    .thumbnail::after {
        font-size: 1.5rem!important;
    }
    .thumbnail::before {
        font-size: 1rem!important;
    }

    .carousel-item h2, .error h2 {
        font-size: 1.1rem;
    }

    .carousel-item p, .error p {
        font-size: 0.8rem;
    }

    .carousel-item a, .error a {
        font-size: 0.8rem;
    }

    .details .btn {
        font-size: 1rem;
    }

    section .w-50 {
        width: 75% !important;
    }

    .contentbox h2 {
        font-size: 24px;
    }

    .contentbox p {
        font-size: 14px;
    }
}

