@import url('http://fonts.cdnfonts.com/css/friz-quadrata-std');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Friz Quadrata Std', sans-serif;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 12px;
    background: #001B1F;
}

::-webkit-scrollbar-thumb {
    background: #E0B145;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
    background: #6C969D;
}

body {
    background: #001B1F;
}

.navbar {
    background: #001B1F;
    padding: 1rem 8rem;
    z-index: 1000;
}

.navbar .navbar-brand img{
    width: 50px;
}
/*navbar logo*/

.jm-logo img:hover,
.jm-logo img:focus,
.jm-logo img:active {
    -webkit-animation-name: buzz;
    animation-name: buzz;
    -webkit-animation-duration: 0.15s;
    animation-duration: 0.15s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@-webkit-keyframes buzz {
    50% {
        -ms-transform: translateX(3px) rotate(2deg);
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }
    100% {
        -ms-transform: translateX(-3px) rotate(-2deg);
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }
}
@keyframes buzz {
    50% {
        -ms-transform: translateX(3px) rotate(2deg);
        -webkit-transform: translateX(3px) rotate(2deg);
        transform: translateX(3px) rotate(2deg);
    }
    100% {
        -ms-transform: translateX(-3px) rotate(-2deg);
        -webkit-transform: translateX(-3px) rotate(-2deg);
        transform: translateX(-3px) rotate(-2deg);
    }
}

#navbarSupportedContent > ul > li:nth-child(n) > a {
    color: #FEFEFF;
    font-size: 1.1rem;
    padding: 0 0.8rem;
}

#navbarSupportedContent > ul > li:nth-child(n) > a:hover,
#navbarSupportedContent > ul > li:nth-child(n) > a:active{
    color: #E0B145;
}

#navbarSupportedContent > button {
    color: #FEFEFF;
    background-color: #6C969D;
    font-weight: 600;
    padding: 0.4rem 1.4rem;
    border-radius: 30px;
}

#navbarSupportedContent > button:hover {
    color: #001B1F;
    background-color: #FE654F;
}

.video {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.video video {
    width: 100%;
    height: 100%;
    pointer-events: none;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.video .title {
    position: relative;
}

.about  {
    background: #001B1F;
}

.about .text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: auto;
}

.about .text h6 {
    color: #E0B145;
    font-weight: 800;
    font-size: 1rem;
    letter-spacing: 2px;
}

.about .text h2 {
    color: #FEFEFF;
    font-weight: 700;
    font-size: 2.7rem;
}

.about .text p {
    color: #FEFEFF;
    font-weight: 400;
    font-size: 1.1rem;
    letter-spacing: 1px;
}

.faction  {
    background: #FEFEFF;
}

.faction .text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: auto;
}

.faction .text h6 {
    color: #E0B145;
    font-weight: 800;
    font-size: 1rem;
    letter-spacing: 2px;
}

.faction .text h2 {
    color: #001B1F;
    font-weight: 700;
    font-size: 2.7rem;
}

.faction .text p {
    color: #001B1F;
    font-weight: 400;
    font-size: 1.1rem;
    letter-spacing: 1px;
}

.faction .text a {
    color: #FEFEFF;
    background-color: #6C969D;
    font-weight: 600;
    padding: 0.6rem 1.4rem;
    border-radius: 30px;
    text-decoration: none;
}

.faction .text a:hover {
    color: #001B1F;
    background-color: #FE654F;
}

.champions  {
    background: #001B1F;
}

.champions .text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: auto;
}

.champions .text h6 {
    color: #E0B145;
    font-weight: 800;
    font-size: 1rem;
    letter-spacing: 2px;
}

.champions .text h2 {
    color: #FEFEFF;
    font-weight: 700;
    font-size: 2.7rem;
}

.champions .text p {
    color: #FEFEFF;
    font-weight: 400;
    font-size: 1.1rem;
    letter-spacing: 1px;
}

.champions .text a {
    color: #FEFEFF;
    background-color: #6C969D;
    font-weight: 600;
    padding: 0.6rem 1.4rem;
    border-radius: 30px;
    text-decoration: none;
}

.champions .text a:hover {
    color: #001B1F;
    background-color: #FE654F;
}

body > footer {
    background: #FEFEFF;
    color: #001B1F;
}

@media screen and (max-width: 988px) {
    .navbar {
        padding: 1rem;
    }

    #navbarSupportedContent > ul {
        padding-left: 0.8rem;

    }

    #navbarSupportedContent > ul > li:nth-child(n) > a {
        padding: 0.8rem 0;
    }
}

/*ERROR PAGE*/
.error  {
    background: #001B1F;
}

.error .text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin: auto;
}

.error .text h6 {
    color: #E0B145;
    font-weight: 800;
    font-size: 1rem;
    letter-spacing: 2px;
}

.error .text h2 {
    color: #FEFEFF;
    font-weight: 700;
    font-size: 2.7rem;
}

.error .text a {
    color: #FEFEFF;
    background-color: #6C969D;
    font-weight: 600;
    padding: 0.6rem 1.4rem;
    border-radius: 30px;
    text-decoration: none;
}

.error .text a:hover {
    color: #001B1F;
    background-color: #FE654F;
}

/*CHAMPIONLIST*/
.list {
    background: #FEFEFF;
    display: flex;
    flex-direction: column;
    min-height: 90.2vh;
}

.search-bar {
    position: relative;
    width: 100%;
}

.search-bar h1 strong {
    font-size: 3.5rem;
}

.input-group > .form-control:focus {
    box-shadow: none;
}

.input-group > .form-control {
    margin-right: 5px;
}

.btn-secondary {
    color: lightgray;
    background: transparent;
    border: 0;
    border-radius: 0;
    margin-top: 0.2rem;
    font-size: 0.8rem;
}

.btn-check:active+.btn-secondary, .btn-check:checked+.btn-secondary, .btn-secondary.active, .btn-secondary:active, .show>.btn-secondary.dropdown-toggle {
    background-color: transparent;
    border: 0;
    color: #001B1F;
    box-shadow: none!important;
}

.btn-secondary:hover {
    color: #001B1F;
    background-color: transparent;

}

.btn-secondary:after {
    display:block;
    content: '';
    border-bottom: solid 3px #E0B145;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

.btn-secondary:hover:after {
    transform: scaleX(1);
}


.gallery {
    position: relative;
    flex: 1 0 auto;
    top: 6rem
}

.item {
    flex-basis: 20%;
}

.item a {
    text-decoration: none;
}

.item a h2 {
    color: #FEFEFF;
    font-weight: 400;
    font-size: 1.3rem;
    padding-top: 0.6rem;
    padding-left: 0.4rem;
}

.item .box {
    overflow: hidden;
    background: #001B1F;
    transition: 0.5s ease;
}

.item .box:hover {
    transform: translateY(-10px);
    color: #001B1F;
    background: #E0B145;
    transition: 0.5s ease;
    box-shadow: 0 20px 50px rgba(42,59,62,0.5);
}

.item .box:hover h2 {
    color: #001B1F;
    text-decoration: none;
}

.list footer {
    background: #001B1F;
    color: #FEFEFF;
    position: relative;
    top: 6rem;
}

@media screen and (max-width: 1200px) {
    .item a h2 {
        font-size: 1rem;
    }
    .item {
        flex-basis: 20%;
    }
}

@media screen and (min-width: 992px) {
    .item {
        flex-basis: 20%;
    }
}

@media screen and (max-width: 991px) {
    .item a h2 {
        font-size: 1.3rem;
    }
    .item {
        flex-basis: auto;
    }
}





