<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}"/>
<link rel="stylesheet" media="screen" th:href="@{/css/application.css}">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
<head>
    <meta charset="UTF-8">
    <title>About Us</title>
</head>
<body>
<div class="header-container">
    <div th:replace="fragments/header :: header">Header</div>
</div>
<div class="container">

    <div class="row">
        <div class="col">
            <h1>About Us</h1>
            <p>We are here to give you the opportunity to meet with your favorite artists.
                If you have any questions if new artist would be added in the near future,
                you can always find our contact details in the footer.</p>
        </div>
        <div class="col">
            <div class="margin">
                <div class="card7"></div>
            </div>
        </div>
    </div>
</div>
<div class="footer-container" >
    <div th:replace="fragments/footer :: footer">Footer</div>
</div>
</body>
</html>