<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}"/>
<link rel="stylesheet" media="screen" th:href="@{/css/application.css}">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
    <title>Artist Details</title>
</head>
<body>

<div class="header-container">
    <div th:replace="fragments/header :: header">Header</div>
</div>

<div class="container">
    <div class="row" th:if="${artist}">
        <div class="col">
            <h1 th:text="${artist.getArtistName()}">Artist Name</h1>

            <h3>Genre:</h3>
            <h4 th:text="${artist.getGenre()}"> Genre</h4>

            <h3>Availability:</h3>
            <table>
                <tr th:if="${artist.getMonday() == true}">
                    <th>Monday:</th>
                    <td th:if="${artist.getMorning() == true}">8am - 11am</td>
                    <td th:unless="${artist.getMorning() == true}">2pm - 5pm</td>
                </tr>
                <tr th:unless="${artist.getMonday() == true}">
                    <th>Monday:</th>
                    <td class="table-center">N/A</td>
                </tr>

                <tr th:if="${artist.getTuesday() == true}">
                    <th>Tuesday:</th>
                    <td th:if="${artist.getMorning() == true}">8am - 11am</td>
                    <td th:unless="${artist.getMorning() == true}">2pm - 5pm</td>
                </tr>
                <tr th:unless="${artist.getTuesday() == true}">
                    <th>Tuesday:</th>
                    <td class="table-center">N/A</td>
                </tr>

                <tr th:if="${artist.getWednesday() == true}">
                    <th>Wednesday:</th>
                    <td th:if="${artist.getMorning() == true}">8am - 11am</td>
                    <td th:unless="${artist.getMorning() == true}">2pm - 5pm</td>
                </tr>
                <tr th:unless="${artist.getWednesday() == true}">
                    <th>Wednesday:</th>
                    <td class="table-center">N/A</td>
                </tr>

                <tr th:if="${artist.getThursday() == true}">
                    <th>Thursday:</th>
                    <td th:if="${artist.getMorning() == true}">8am - 11am</td>
                    <td th:unless="${artist.getMorning() == true}">2pm - 5pm</td>
                </tr>
                <tr th:unless="${artist.getThursday() == true}">
                    <th>Thursday:</th>
                    <td class="table-center">N/A</td>
                </tr>

                <tr th:if="${artist.getFriday() == true}">
                    <th>Friday:</th>
                    <td th:if="${artist.getMorning() == true}">8am - 11am</td>
                    <td th:unless="${artist.getMorning() == true}">2pm - 5pm</td>
                </tr>
                <tr th:unless="${artist.getFriday() == true}">
                    <th>Friday:</th>
                    <td class="table-center">N/A</td>
                </tr>

                <tr th:if="${artist.getSaturday() == true}">
                    <th>Saturday:</th>
                    <td th:if="${artist.getMorning() == true}">8am - 11am</td>
                    <td th:unless="${artist.getMorning() == true}">2pm - 5pm</td>
                </tr>
                <tr th:unless="${artist.getSaturday() == true}">
                    <th>Saturday:</th>
                    <td class="table-center">N/A</td>
                </tr>

                <tr th:if="${artist.getSunday() == true}">
                    <th>Sunday:</th>
                    <td th:if="${artist.getMorning() == true}">8am - 11am</td>
                    <td th:unless="${artist.getMorning() == true}">2pm - 5pm</td>
                </tr>
                <tr th:unless="${artist.getSunday() == true}">
                    <th>Sunday:</th>
                    <td class="table-center">N/A</td>
                </tr>
            </table>
        </div>
        <div class="col">
            <div class="margin-player">
                <h3>Most Popular song</h3>
                <div class="player" th:if="${artist.getId() == 1}">
                    <div class="imgBx">
                        <img th:src="@{/img/pic-1.png}" alt="Dominic Fike photo" src="../static/img/pic-1.png">
                    </div>
                    <audio th:src="@{/music/music1.mp3}" type="audio/mp3" controls></audio>
                </div>
                <div class="player" th:if="${artist.getId() == 2}">
                    <div class="imgBx">
                        <img th:src="@{/img/pic-2.png}" alt="Mac Miller photo" src="../static/img/pic-2.png">
                    </div>
                    <audio th:src="@{/music/music2.mp3}" type="audio/mp3" controls></audio>
                </div>
                <div class="player" th:if="${artist.getId() == 3}">
                    <div class="imgBx">
                        <img th:src="@{/img/pic-3.png}" alt="Frank Ocean photo" src="../static/img/pic-3.png">
                    </div>
                    <audio th:src="@{/music/music3.mp3}" type="audio/mp3" controls></audio>
                </div>
                <div class="player" th:if="${artist.getId() == 4}">
                    <div class="imgBx">
                        <img th:src="@{/img/pic-4.png}" alt="Billie Eilish photo" src="">
                    </div>
                    <audio th:src="@{/music/music4.mp3}" type="audio/mp3" controls></audio>
                </div>
                <div class="player" th:if="${artist.getId() == 5}">
                    <div class="imgBx">
                        <img th:src="@{/img/pic-5.png}" alt="5SOS photo" src="../static/img/pic-5.png">
                    </div>
                    <audio th:src="@{/music/music5.mp3}" type="audio/mp3" controls></audio>
                </div>
                <div class="player" th:if="${artist.getId() == 6}">
                    <div class="imgBx">
                        <img th:src="@{/img/pic-6.png}" alt="Eminem photo" src="../static/img/pic-6.png">
                    </div>
                    <audio th:src="@{/music/music6.mp3}" type="audio/mp3" controls></audio>
                </div>
            </div>
        </div>
    </div>
    <div class="row" th:unless="${artist}">
        <div class="col" th:if="${selection} != false">
            <h2 th:text="'Sorry, please pick an existing artist between 1 and ' + ${artistcount}">No valid artist selected</h2>>
        </div>
        <div class="col" th:unless="${selection} != false">
            <h2>No artist selected.</h2>
        </div>
    </div>
</div>

<div class="footer-container" >
    <div th:replace="fragments/footer :: footer">Footer</div>
</div>

</body>
</html>