<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}"/>
<link rel="stylesheet" media="screen" th:href="@{/css/application.css}">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
    <title>Error-500 Page</title>
</head>
<body>
<div class="container">
    <div class="center">
        <div class="justify">
            <h1>500</h1>
            <h3>
                A 500 ERROR OCCURS WHEN SOMETHING BLOWS UP WITH OUR CODE. YOU VIEWING THIS DOES NOT FIX THE CODE.
                IN FACT, YOU'RE LIKELY PISSED OFF AT THE MOMENT. TAKE SOLACE, TOP MEN ARE NOW AWARE.
            </h3>
        </div>
    </div>
</div>
</body>
</html>