<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}"/>
<link rel="stylesheet" media="screen" th:href="@{/css/application.css}">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
<head>
    <meta name="viewport" content="width=devive-width, initial-scale=1.0" charset="UTF-8">
    <title>Home</title>
</head>
<body>
<div class="header-container">
    <div th:replace="fragments/header :: header">Header</div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Fan Meeting</h1>
            <p>Hello and welcome to our artist fan meeting website there are currently</p>
            <p th:text="|${artistCount} artists available for meeting up.|">Artist Count</p>
        </div>
        <div class="col">
            <a class="card" th:each="artist: ${artists}"
                 th:classappend="${(artist.getArtistName().equals('Dominic Fike') ? 'card1' : '') + (artist.getArtistName().equals('Mac Miller') ? 'card2' : '') + (artist.getArtistName().equals('Frank Ocean') ? 'card3' : '') + (artist.getArtistName().equals('Billie Eilish') ? 'card4' : '') + (artist.getArtistName().equals('5SOS') ? 'card5' : '') + (artist.getArtistName().equals('Eminem')  ? 'card6' : '')}"
                 th:href="@{|/artistdetails/${artist.id}|}">
                    <h5 th:text="${artist.getArtistName()}">Artist Name</h5>
            </a>
        </div>
    </div>
</div>
<div class="footer-container" >
    <div th:replace="fragments/footer :: footer">Footer</div>
</div>
</body>
</html>